<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>883813884657-l93npb2lji9tak71tb0gqhdoklt9n626.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883813884657-l93npb2lji9tak71tb0gqhdoklt9n626</string>
	<key>API_KEY</key>
	<string>AIzaSyDLKArxNV_j-RdGQZE3-rtH5Z9XdghVlyo</string>
	<key>GCM_SENDER_ID</key>
	<string>883813884657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.developers.cricupdate</string>
	<key>PROJECT_ID</key>
	<string>cricupdate-44126</string>
	<key>STORAGE_BUCKET</key>
	<string>cricupdate-44126.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883813884657:ios:740e27ff0d9c5680aebf50</string>
</dict>
</plist>